/* #div-style{
    
} 
.container {
    display: flex;
    justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
  }
   .card{
 border:1px solid black;
}
#whatsapp{
    margin-top: 5rem;
    margin-left: rem; 
    height: 23.5rem; 

} 
#whatsapp-img{
    width: 17.5rem;
    height: 17.5rem;
    margin-top: 1rem;
    margin-left: 2.5px;
}  
#whatsapp-title{
    margin-top:0;
    color: black;
} 

#facebook{
     margin-top: 5rem;
    margin-left: 1rem;  
    height: 23.5rem; 
} 
#facebook-img{
max-width:12rem;
width: 15.5rem;
margin-left: 1.5rem;
margin-top: 1rem;
}
#facebook-title{
    margin-top: 2.5rem;
    color: black;
} 
#instagram{
    margin-top: 5rem;
    margin-left: 1rem; 
    
    
}  
  #instagram-img{
    width: 16rem;
    margin-top: 1rem;
    margin-left: 16px;
}  
#instagram-title{
    margin-top: 23.5px;
    color: black;
} 
#micloud{
    margin-top: 5rem;
    margin-left: 1rem; 
} 
 #micloud-img{
    width: 1px;
    min-width: 5rem;
    max-width: 10rem;
    margin-top: 3rem;
    margin-left: 20px
 }
    #micloud-title{
    margin-top: 5rem;
    color: black;
     
}
.card{
    min-width:fit-content;
    max-width:20rem;
    width: 20rem;
    max-width: 18.5;
    max-height: 24rem;
    height: 24rem;
    width: 18.5rem;
    margin-left: 2rem; 
}  */
/* #whatsapp-img{
    width: 12rem;
}
#facebook-img{
    width: 12rem;
}
#instagram-img{
    width: 12rem;
}
#micloud-img{
    width: 12rem;
} */
/* #whatsapp{
    width: 15rem;
}
#facebook{
    width: 15rem;
}
#instagram{
    width: 15rem;
}
#micloud{
    width: 15rem;
} */





